.navBar {
    width: 12vw;
    flex-shrink: 0;
    padding: 32px 48px;
    border-right: 2px solid var(--grey-stroke);
    min-height: 100vh;
}

.logo {
    width: 100%;
    margin-bottom: 48px;
}

.navBar a {
    font-family: 'Franie', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--grey-strong);
    text-decoration: none;
}

.navBar ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.navLink {
    display: flex;
    align-items: center;
}


.navIcon {
    font-size: 1.25rem;
    margin-right: 8px;
}