main {
    display: flex;
}

.order-view {
    color: var(--grey-strong);
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.order-view h1 {
    font-family: 'Franie';
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.order-view__row {
    width: 100%;
    display: flex;
    gap: 24px;
}

.order-view__card {
    width: 100%;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.10), 0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
}

.order-view__card__row {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.order-view__key {
    width: 45%;
    font-weight: 700;
}

.order-view thead, tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.order-view th {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 12px;
}

.order-view td {
    font-size: 1rem;
    padding-top: 12px;
}

.order-item {
    color: var(--grey-strong);
    font-weight: 700;
    padding-bottom: 4px;
}

.order-item__description {
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0 0 4px 16px;
}

.order-view th:nth-child(1),
.order-view td:nth-child(1) {
    width: 50%;
    text-align: start;
}

.order-view th:nth-child(2),
.order-view td:nth-child(2) {
    width: 20%;
    text-align: center;
}

.order-view th:nth-child(3),
.order-view td:nth-child(3) {
    width: 30%;
    text-align: end;
}